*~
*.swp
*.o
*.so
*.a

# Generic build/outpt dirs
build
tmp

# LSP cache
.ccls-cache

# zig & zpkg cache & output dirs
.zig-cache
zig-out
zig-pkg

# git worktrees
.worktrees/

# zpkg outputs
.zpkg
zpkg.lock.zon
zpkg.workspace.lock.zon
